# Streamlit core
streamlit==1.39.0
rich==13.9.4

# LangChain ecosystem
langchain==0.2.16
langchain-community==0.2.6
langchain-core==0.2.34

# Vector database & embedding
weaviate-client==4.7.2
networkx==3.3

# Common utilities
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0

# Optional: For Huggingface embeddings
sentence-transformers==2.7.0
